<button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
</button>
<div class="row" class="header"> 
    <!-- <div class="col-md-12" class="header"> -->
    <p class="header_text" style="font-weight: 700; font-size: 50px;"><img width="80" height="80" src="assets/images/Icon_png.png">{{showDetails()}}</p>
    <p class="header_text" style="font-weight: 400; font-size: 40px; line-height: 90px;">This whole site is about us, but we want to know about you.</p>
</div>

<div class="row" > 
    <div class="col-md-6">
        <p class="heading">Introduce your project</p>
        <p class="body"> Send us your brief and we’ll start thinking
        <p class="body">about how can we help you.</p>
        <p class="body">wildart.studio</p>
    </div>
    <div class="col-md-6">
        <p class="heading">Ask us a question</p>
        <p class="body">Drop a quick message in our inbox and
        <p class="body">we’ll find an best answer for you.</p>
        <p class="body">wildart.studio</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" class="footer">
        <p>hell</p>
    </div>
</div>
<div class="row">
    <p class="body">Follow us on:</p>
</div>